body {
  margin: 0;
}

.player {
  background-image: url('img/pop.png');
  width: 500px;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}

.player-timer {
  position: relative;
  height: 50vh;
}

#time {
  margin: 0 1em;
}
#current, #duration {
  padding: 0;
  margin: .2em;
}



.playertimerbtn {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-54%, -50%);
  cursor: pointer;
}

.seek-wrapper {
	z-index: 10;
	position: absolute;
	top: 45%;
}

#seekbar {
  width: 450px;
  height: 10px;
  margin: 1em;
  border-radius: 5px;
  background: linear-gradient(#ff0000,#ff0000) no-repeat #eee;
   cursor : pointer;
}

#time {
	text-align: center;
}

#current, #duration {
	color: white;
	margin: auto;
}

.timer-space {
	color: white;
}

.volume-slider {
	cursor: pointer;
}

.selection {
  width: 500px;
  height: calc(50vh + 20px);
  background-color: #fff;
  border-radius: 24px;
  position: relative;
  top: -20px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-sizing: border-box;
  background-color: black;
}

.title {
  padding-top: 20px;
  color: white;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

.selection-bar {
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: #757575;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 20px;
}

.title-headline {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
}

.title-description {
  margin-top: 0;
  font-size: .8rem;
}

.soundList {
  margin-top: 32px;
}

.soundList-text {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

.soundList-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.soundList-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.soundList-title {
  font-size: .8rem;
  font-weight: bold;
  display: block;
  color: white;
}

.soundList-description {
  font-size: 0.7rem;
  display: block;
  color: white;
}

