body ,p {
  margin: 0;
}

section {
	position: relative;
	width: 500px;
	background-color: black;
}


.player {
  background-image: url('img/pop.png');
  background-size: contain;
  width: 300px;
  height: 200px;
  margin: 50px 100px;

}

.player-timer {
  height: 200px;
}

.play-time {
	display: flex;
}

.playertimerbtn {
  margin-left: 200px;
  cursor: pointer;
  width: 30px;
  height:  30px;
  display: block;
  margin: 0 auto;
}

.seek-wrapper {
	top: 45%;
	text-align: center;
}

#seekbar {
  width: 450px;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(#ff0000,#ff0000) no-repeat #eee;
   cursor : pointer;
   margin: 0 auto;
}

#time {
	text-align: center;
}

#current, #duration {
	color: white;
}

#current {
	margin-right: 355px;
	margin-left: 25px;
}

.volume-slider {
	cursor: pointer;
	width: 400px;
  	height: 10px;
}

.selection {
  width: 500px;
  height: 50vh;
  background-color: black;
}


.title {
  padding-left: 20px;
  color: white;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

.selection-bar {
	position: absolute;
    display: inline-block;
    width: 40px;
    height: 4px;
    background-color: #757575;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    border-radius: 2px;
}

.title-headline {
  font-weight: bold;
}

.title-description {
  margin-bottom: 20px;
  font-size: .8rem;
  color: red;
}

.soundList-text {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
 
}

.soundList-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.soundList-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
  margin-left: 20px;
}

.soundList-title {
  font-size: .8rem;
  font-weight: bold;
  display: block;
  color: white;
  margin-bottom: 5px;
}

.soundList-description {
  font-size: 0.5rem;
  display: block;
  color: white;
}

.volume-icon:before {
    content: "\f028";
    color: white;
}
